[submodule "example-integration-whatsapp"]
	path = example-integration-whatsapp
	url = https://github.com/voiceflow/example-integration-whatsapp.git
[submodule "asr-demo-whisper"]
	path = asr-demo-whisper
	url = https://github.com/voiceflow-gallagan/asr-demo-whisper.git
[submodule "elevenlabs-integration"]
	path = elevenlabs-integration
	url = https://github.com/voiceflow-gallagan/elevenlabs-integration.git
[submodule "ner-manager"]
	path = ner-manager
	url = https://github.com/voiceflow-gallagan/ner-manager.git
[submodule "replicate-llm-models-api"]
	path = replicate-llm-models-api
	url = https://github.com/voiceflow-gallagan/replicate-llm-models-api.git
[submodule "webpage-chat-demo"]
	path = webpage-chat-demo
	url = https://github.com/voiceflow-gallagan/webpage-chat-demo.git
[submodule "voiceflow-twilio-ivr"]
	path = voiceflow-twilio-ivr
	url = https://github.com/voiceflow-gallagan/voiceflow-twilio-ivr.git
[submodule "voiceflow-slack"]
	path = voiceflow-slack
	url = https://github.com/voiceflow-gallagan/voiceflow-slack.git
[submodule "voiceflow-discord"]
	path = voiceflow-discord
	url = https://github.com/voiceflow-gallagan/voiceflow-discord.git
[submodule "langchain-local-knowledgebase"]
	path = langchain-local-knowledgebase
	url = https://github.com/voiceflow-gallagan/langchain-local-knowledgebase.git
[submodule "voiceflow_telegram"]
	path = voiceflow_telegram
	url = https://github.com/zslamkov/voiceflow_telegram.git
[submodule "hugginface-inference"]
	path = hugginface-inference
	url = https://github.com/voiceflow-gallagan/hugginface-inference.git
[submodule "discord-live-answer-example"]
	path = discord-live-answer-example
	url = https://github.com/voiceflow-gallagan/discord-live-answer-example.git
[submodule "kb-vf-zendesk"]
	path = kb-vf-zendesk
	url = https://github.com/voiceflow-gallagan/kb-vf-zendesk.git
[submodule "vfassistant-electron"]
	path = vfassistant-electron
	url = https://github.com/voiceflow-gallagan/vfassistant-electron.git
[submodule "presidio-api"]
	path = presidio-api
	url = https://github.com/voiceflow-gallagan/presidio-api.git
[submodule "vf-proxy-api"]
	path = vf-proxy-api
	url = https://github.com/voiceflow-gallagan/vf-proxy-api.git
[submodule "api-integration-msteams"]
	path = api-integration-msteams
	url = https://github.com/voiceflow-gallagan/api-integration-msteams.git
[submodule "vf-twilio-sms-integration"]
	path = vf-twilio-sms-integration
	url = https://github.com/voiceflow-gallagan/vf-twilio-sms-integration.git
[submodule "intercom-vf-integration"]
	path = intercom-vf-integration
	url = https://github.com/voiceflow-gallagan/intercom-vf-integration.git
[submodule "vf-date-parser"]
	path = vf-date-parser
	url = https://github.com/voiceflow-gallagan/vf-date-parser.git
[submodule "vf-crawler-uploader"]
	path = vf-crawler-uploader
	url = https://github.com/voiceflow-gallagan/vf-crawler-uploader.git
[submodule "vf-analytics-proxy"]
	path = vf-analytics-proxy
	url = https://github.com/voiceflow-gallagan/vf-analytics-proxy.git
[submodule "vf-extensions-demo"]
	path = vf-extensions-demo
	url = https://github.com/voiceflow-gallagan/vf-extensions-demo.git
[submodule "download-kb-file"]
	path = download-kb-file
	url = https://github.com/voiceflow-gallagan/download-kb-file.git
[submodule "Voiceflow-MineFlow"]
	path = Voiceflow-MineFlow
	url = https://github.com/SuperZooper3/Voiceflow-MineFlow.git
[submodule "llmlingua-api"]
	path = llmlingua-api
	url = https://github.com/voiceflow-gallagan/llmlingua-api
[submodule "tico-me"]
	path = tico-me
	url = https://github.com/voiceflow-gallagan/tico-me.git
[submodule "Voiceflow-EduChat"]
	path = Voiceflow-EduChat
	url = https://github.com/SuperZooper3/Voiceflow-EduChat
[submodule "Voiceflow-GameFlow"]
	path = Voiceflow-GameFlow
	url = https://github.com/SuperZooper3/Voiceflow-GameFlow.git
[submodule "vf-kb-content-export"]
	path = vf-kb-content-export
	url = https://github.com/voiceflow-gallagan/vf-kb-content-export
[submodule "vf-chat-domain-checker"]
	path = vf-chat-domain-checker
	url = https://github.com/voiceflow-gallagan/vf-chat-domain-checker
[submodule "vf-vapi"]
	path = vf-vapi
	url = https://github.com/voiceflow-gallagan/vf-vapi
[submodule "vf-seatselector-extension-demo"]
	path = vf-seatselector-extension-demo
	url = https://github.com/voiceflow-gallagan/vf-seatselector-extension-demo.git
[submodule "goose-guide-bot"]
	path = goose-guide-bot
	url = https://github.com/hackthenorth/goose-guide-bot.git
