[submodule "example-integration-whatsapp"]
	path = example-integration-whatsapp
	url = https://github.com/voiceflow/example-integration-whatsapp.git
[submodule "asr-demo-whisper"]
	path = asr-demo-whisper
	url = https://github.com/voiceflow-gallagan/asr-demo-whisper.git
[submodule "elevenlabs-integration"]
	path = elevenlabs-integration
	url = https://github.com/voiceflow-gallagan/elevenlabs-integration.git
[submodule "ner-manager"]
	path = ner-manager
	url = https://github.com/voiceflow-gallagan/ner-manager.git
[submodule "replicate-llm-models-api"]
	path = replicate-llm-models-api
	url = https://github.com/voiceflow-gallagan/replicate-llm-models-api.git
[submodule "webpage-chat-demo"]
	path = webpage-chat-demo
	url = https://github.com/voiceflow-gallagan/webpage-chat-demo.git
[submodule "voiceflow-twilio-ivr"]
	path = voiceflow-twilio-ivr
	url = https://github.com/voiceflow-gallagan/voiceflow-twilio-ivr.git
[submodule "voiceflow-slack"]
	path = voiceflow-slack
	url = https://github.com/voiceflow-gallagan/voiceflow-slack.git
[submodule "voiceflow-discord"]
	path = voiceflow-discord
	url = https://github.com/voiceflow-gallagan/voiceflow-discord.git
